{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
    {{category.description|truncatewords:155}}
{% else %}
    Welcome to Eshop where you can buy different items.......
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
    {{category.name}}- Eshop
{% else %}
    See your collections- Eshop
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a> </p>
    </div>
        </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" style="width:100px;height:100px;" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
    <img class="my_image my_image_padding" src="{% static 'img/banner2.png' %}" alt="Our Products" width="2100px" height="800px">
</div>
<br>
<div>
    <h1 class="text-center my_title">Our Product Collections</h1>
    <p class="text-justify my_text">Jewellery consists of decorative items worn for personal adornment, such as brooches, rings, necklaces, earrings, pendants, bracelets, and cufflinks. Jewellery may be attached to the body or the clothes. From a western perspective, the term is restricted to durable ornaments, excluding flowers for example.Jewellery can lift our mood, make us feel amazing about ourselves and also serve as a way for us to express our unique sense of style. All of this can lead to increased confidence and self-esteem which will then positively affect other aspects of our lives such as our relationships and our career! </p>
    {% endif %}
    <div class="container">
        <div class="row mx_auto">
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-4 col-lg-4">
                <div class="card-text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}"  style="width:350px;height:350px;" alt="{{product.name}}"></a>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                         <p>{{product.price}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx_auto">
            {% if products.paginator.num_pages > 1 %}

             <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}